<!-- DepartmentAssignmet.html -->
{% extends 'base.html' %}
{% load static %}

{% block title %}Assign Your Department{% endblock %}

{% block content %}
	<script src="{% static 'js/DepartAssign.js' %}"></script>

		<h1 class="Header1">Department Assignment</h1>
		<div class="unique-container">
			<table id="AssignDepartTable">
				<thead>
					<tr>
						<th>Student ID</th>
						<th>Student Name</th>
						<th>Department</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>{{ student.ID }}</td>
						<td>{{ student.name }}</td>
						<td>
							<form method="POST" action="{% url 'department_details' student_id=student.ID %}">
								{% csrf_token %}
								<select name="department">
									{% for department in departments %}
										<option value="{{ department }}"
												{% if student.department == department %}selected{% endif %}>
											{{ department }}
										</option>
									{% endfor %}
								</select>
								<input type="submit" value="Save">
							</form>
						</td>
					</tr>
				</tbody>
			</table>
		<br><br>
		{% comment %} <div class="BUTTON">
		<button id="saveDepartmentButton" style="margin-left:50%">Save</button>
		</div> {% endcomment %}
	</div>
{% endblock %}

