<!-- DepartmentAssignmet.html -->
{% extends 'base.html' %}
{% load static %}

{% block title %}Assign Your Department{% endblock %}

{% block content %}
	<script src="{% static 'js/DepartAssign.js' %}"></script>

		<h1 class="Header1">Department Assignment</h1>
		<div class="unique-container">
			<table id="AssignDepartTable">
			<thead>
				<tr>
					<th>Student ID</th>
					<th>Student Name</th>
					<th>Department</th>
				</tr>
			</thead>

			<tr id="StudentRowinAssignDepartment">
				<td><b>{{student.ID}}</b></td>
				<td>{{student.name}}</td>
				<form method="POST" action="{% url 'department_details' %}">
				{% csrf_token %}
				<td>
					<select name="Departments" id="Departments">
						<option value="IS" {% if student.department == "IS" %}selected{% endif %}>IS</option>
						<option value="AI" {% if student.department == "AI" %}selected{% endif %}>AI</option>
						<option value="CS" {% if student.department == "CS" %}selected{% endif %}>CS</option>
						<option value="DS" {% if student.department == "DS" %}selected{% endif %}>DS</option>
						<option value="IT" {% if student.department == "IT" %}selected{% endif %}>IT</option>
					  </select>	  
				</td>

			</tr>
		</table>

		<br><br>

		<div class="BUTTON">
		<button id="saveDepartmentButton" style="margin-left:50%">Save</button>
		</div>
		</form>

	</div>
{% endblock %}

