     /* Select the body element and set its font family and margin */
     body {
         font-family: Arial, sans-serif;
         margin: 20px;
     }

     /* Select the input element and set its width and padding */
     input {
         width: 200px;
         padding: 5px;
     }

     /* Select the button element and set its background color, border, padding, and cursor */
     button {
         /* background-color: #4CAF50; */
         border: none;
         padding: 10px 20px;
         cursor: pointer;
     }

     img {
         width: 25px;
         height: 25px;
         font-size: 100px;
         color: blue;
     }

     /* Select the table element and set its border collapse, width, and text align properties */
     table {
         width: 100%;
         border-collapse: collapse;
     }

     th,
     td {
         padding: 10px;
         text-align: left;
     }

     th {
         background-color: #333;
         color: #fff;
     }

     tr:nth-child(even) {
         background-color: #f2f2f2;
     }

     tr:hover {
         background-color: #ddd;
     }

     /* Select the form element and set its width, margin, and border properties */
     form {
         width: 500px;
         margin: 20px auto;
         border: 1px solid black;
     }

     /* Select the h1 element inside the form element and set its text align property */
     form h1 {
         text-align: center;
     }

     .search {
         display: flex;
         align-items: center;
         margin-left: 10%;
         margin-right: 10%;
         margin-top: 100px;
     }

     .search input[type=text] {
         padding: 10px;
         font-size: 17px;
         border: 2px solid #132666;
         flex: 1;
         background: #fff;
         border-radius: 50px 0 0 50px;
     }

     .search button {
         width: 20%;
         padding: 10px;
         background: rgb(46, 45, 45);
         color: white;
         font-size: 17px;
         border: none;
         border-radius: 0 50px 50px 0;
         cursor: pointer;
         transition: background-color 0.2s ease-in-out;
     }

     .search button:hover {
         background-color: #141415;
     }

     .search button img {
         width: 18px;
         height: 18px;
     }